.gantt-container {
  display: flex;
  height: 600px;
  overflow: hidden;
}

.gantt-container svg {
  margin: 0;
  display: block;
}

.gantt-left {
  width: 300px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  border-right: 2px solid #bebebe;
}

.gantt-left-header {
  height: 40px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ccc;
  z-index: 10;
}

.gantt-left-body {
  flex-grow: 1;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.gantt-right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.gantt-right-header {
  height: 40px;
  overflow: hidden;
  background-color: white;
  z-index: 10;
  flex-shrink: 0; /* Prevent the header from shrinking */
}

.gantt-right-body {
  flex-grow: 1;
  overflow: auto;
  height: calc(100% - 40px); /* Subtract the header height */
}

.gantt-right svg {
  display: block; /* Removes any extra space below inline SVG */
}

.action-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.action-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  transition: opacity 0.3s ease;
}

.action-button:hover {
  opacity: 0.9;
}

.add-job-button {
  background-color: #4CAF50; /* Green */
}

.manage-builders-button {
  background-color: #2196F3; /* Blue */
}


/* Job Modal */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
  z-index: 10000;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.roomGroup {
  display: flex;
  padding: 2px 0 7px;
}

.jobNumber {
  max-width: 40px;
}

.duration {
  max-width: 50px;
}

.add-room-button {
  margin-top: 20px;
}

.instructions {
  text-align: left;
  padding-left: 30px;
}

/* Builder Modal */
.builder-list {
  list-style-type: none;
  padding: 0;
}

.builder-list li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 70px; /* Increased horizontal padding to make room for buttons */
  margin-bottom: 5px;
  border-radius: 5px;
  transition: border-color 0.3s ease;
  min-height: 40px; /* Ensure consistent height even without buttons */
}

.builder-name {
  text-align: center;
}

.edit-button, .delete-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 5px 10px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  left: 10px;
}

.delete-button {
  right: 10px;
}

.builder-list li[data-marked-for-deletion="true"] {
  border: 2px solid red;
}

.error {
  color: red;
  font-size: 0.8em;
}
